*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Knewave', cursive;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
    align-self: center;
}

.body-index{
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows:repeat(2,1fr) ;
}

header .bar-icons{
    width: 100%;
    height: 50px;
    background-color: #47cfac;
    display: grid;
}

header .bar-icons .bar-icons__container{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    margin-top: 3px;
}

header .bar-icons__container img{
    width: 30px;
    height: 30px;

    /*Modificar tamaño de los iconos*/
} 

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav__logo{
    display: flex;
    margin-left: 50px;
    align-content: center;
}

nav .nav__logo img{
    width: 220px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 1.7rem;
}
 
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.main__index{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    background-image: url("/assets/images/john.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    
}

.main__index .main__section-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    font-family: 'Knewave', cursive;
    font-size: 1.8rem;
}

.main__index .main__section-button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;

}

.main__index .main__section-button button{
    width: 100px;
    height: 50px;
    background-color: #47cfac;
    border-radius: 5px;
    border: 3px solid black;
    font-family: 'Knewave', cursive;
    transform: scale(1.1);
}

.main__blogs{
    display: grid;
}

.blogs-news{
    background-color:#e6e9ed ;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img{
    grid-column: 1;
}
.blogs-news-img img{
    width: 85%;

}

.blogs-news-info{
    grid-column: 2;
}

.blogs-news-info p{
    margin-bottom: 35px;
}

.blogs-posts{
    padding: 0 50px 40px;
}

.blogs-posts h3{
    border-bottom: 1px solid #cdd2da;
    
    padding: 20px 20px;
    text-align: center;
}

.blogs-button{
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 1rem;
}
.blogs-button:hover {
	border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}
.blogs-posts .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;

}

.blogs-posts .post-container p{
    margin-bottom: 35px;
}

.blogs-posts .post-container img{
    width: 100%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 10px;
}